.payment__items {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  flex: 1;
}
.payment__paypal {
  width: 32%;
}
.muiicon {
  font-size: 50px !important;
  color: greenyellow !important;
}
.payment__completed {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}
